@keyframes append-animate {
  from {
    // transform: scale(0.75);
    transform: translate(-15%);
    opacity: 0;
  }
  to {
    // transform: scale(1);
    transform: translate(0);
    opacity: 1;
  }
}

@keyframes onclick-animate {
  from {
    transform: scale(15%);
  }
  to {
    transform: scale(0%);
  }
}
